body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.scroll-window{
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.display-window{
  flex: 2;
  text-align: center;
  font-size: 24px;
}

.app{
display: flex;
flex-direction: column;
}

.app-header{
  height: 10vh;
  width: 100%;
  flex: 1;
  background-color: #6ED9A0;
}

.app-wrapper{
  display: flex;
}

.library {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-container{
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.book-container:hover {
  background-color: #848FA5;
}
